<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zzz989.my.blog.web.admin.mapper.BlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.zzz989.my.blog.domain.entity.Blog">
        <id column="id" property="id" />
        <result column="bolgger_id" property="bolggerId" />
        <result column="title" property="title" />
        <result column="pic" property="pic" />
        <result column="categoriy_id" property="categoryId" />
        <result column="blog_desc" property="blogDesc" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
        <result column="read_times" property="readTimes" />
        <result column="praise_times" property="praiseTimes" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bolgger_id, title, pic, categoriy_id, blog_desc, created, updated, read_times, praise_times
    </sql>

    <delete id="deleteByCategoryID">
        DELETE FROM blog WHERE categoriy_id = #{categoryId}
    </delete>

    <select id="selectByBloggerId" resultType="xyz.zzz989.my.blog.domain.entity.Blog">
        SELECT *
        FROM `blog`
        WHERE bolgger_id =	#{bloggerId}
    </select>

</mapper>
